<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Customer list</h3>
                <span class="toolbar">
                    <button type="button" class="btn btn-success" (click)="addCustomer()"><i class="fa fa-plus"></i> Add</button>
                </span>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>#</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Extra fields</th>
                    </tr>
                    <tr *ngFor='#customer of customers'>
                        <td>{{customer.id}}</td>
                        <td><a href="" (click)="onSelectCustomer($event,customer.id)">{{customer.firstName}}</a></td>
                        <td>{{customer.lastName}}</td>
                        <td>
                            <div *ngFor='#extraField of customer.extraFields | values' [hidden]="!showExtraField(extraField)">
                                <span *ngIf="!isTypeImage(extraField) && !isTypeApplication(extraField)">
                                   <strong>{{extraField.key}}</strong>: {{extraField.value}}
                                </span>
                                 <span *ngIf="isTypeImage(extraField)">
                                     <img src="{{extraField.value}}" width="100" height="100" title="{{extraField.key}}" alt="{{extraField.key}}" />
                                 </span>
                                 <span *ngIf="isTypeApplication(extraField)">
                                     <strong>{{extraField.key}}</strong>: <a href="{{extraField.value}}" target="_blank" title="{{extraField.key}}"><i class="fa fa-file"></i></a>
                                 </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>